body {
	background: #f9f9f9;
}

.navbar1_component {
	background: linear-gradient(135deg, #f9f9f9, #f3f3f3, #dcdcdc);
}

.navbar1_logo {
	height: 50px;
}

.background-color-tan {
	background-color: transparent;
}
